@font-face {
  font-family: 'Gilroy Extra Bold';
  src: url("../fonts/Gilroy-FREE/Gilroy-FREE/Gilroy-ExtraBold.otf") format("opentype"); }

body {
  font-family: 'Roboto', serif;
  padding-top: 54px;
  color: black; }

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Gilroy Extra Bold', serif;
  font-weight: 700;
  color: #183ba0; }

h1 {
  font-size: 6rem;
  line-height: 5.5rem; }

h2 {
  font-size: 3.5rem; }

@media (max-width: 767px) {
  h1 {
    font-size: 3.5rem;
    line-height: 3rem; }
  h2 {
    font-size: 2.5rem; } }

.subheading {
  font-weight: 500;
  font-family: 'Gilroy Extra Bold', serif;
  font-size: 1.35rem; }

.list-social-icons a {
  color: #495057; }
  .list-social-icons a:hover {
    color: #183ba0; }
  .list-social-icons a .fa-lg {
    font-size: 1.75rem; }

.list-icons {
  font-size: 3rem; }
  .list-icons .list-inline-item i:hover {
    color: #183ba0; }

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600; }

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh; }
    #sideNav .navbar-brand {
      display: flex;
      margin: auto auto 0;
      padding: 0.5rem; }
      #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem; }
    #sideNav .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;
      width: 100%;
      margin-bottom: auto; }
      #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%; }
        #sideNav .navbar-collapse .navbar-nav .nav-item {
          display: block; }
          #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
            display: block; } }

section.paper-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important; }

@media (min-width: 768px) {
  section.paper-section {
    min-height: 100vh; } }

@media (min-width: 992px) {
  section.paper-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important; } }

.bg-primary {
  background-color: #183ba0 !important; }

.text-primary {
  color: #183ba0 !important; }

a {
  color: #183ba0; }
  a:hover, a:focus, a:active {
    color: #0e225d; }
